<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/cookie_consent.ejs') %> 
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="admin.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="all.js" defer></script>
</head>
<body>
    <div class="intro" id="intro">
        <div class="diamonds">
            <img src="diamond.svg" alt="" class="diamond1">
            <img src="diamond_2.svg" alt="" class="diamond2">
        </div>
        <div class="mobile-top">
            <div class="top-burger" id="top-burger">
                <img src="burger.svg" alt="">
            </div>
            <div class="top-branding">
                <div class="branding-name">
                    Admin
                </div>
                <div class="branding-logo">
                    <img src="mobile_logo.png" alt="">
                </div>
            </div>
        </div>
        <% if (status == 'in') {%> 
            <%- include('./partials/nav_profile.ejs')  %>
        <% } else { %>    
            <%- include('./partials/nav.ejs')  %>
        <% } %> 
        <%- include('./partials/sidebar.ejs')  %>   
        <%- include('./partials/logo.ejs')  %>   
        <h1>Admin</h1>

        <form  method="POST" class="login-form" id="login-form" action="/admin-login">
            <input type="password" id="password" name="password" placeholder="Password" style="z-index: 9999999;">
            <input type="submit" class="submit login-submit" value="Log In" style="z-index: 9999999;">
        </form>
        
</body>
<script>
    let viewHeight = $(window).height();
    let viewWidth = $(window).width();
    document.getElementById('intro').style.minHeight = viewHeight+'px';
    document.getElementById('intro').style.maxHeight = viewHeight+'px';
    let viewport = document.querySelector('meta[name=viewport]');
    viewport.setAttribute('content', 'height=' + viewHeight + 'px, width=' + viewWidth + 'px, initial-scale = 1.0');
</script>
</html>