<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/index/index.css">
    <link rel="stylesheet" href="/item/item.css">
    <script src="/general/all.js" defer></script>
    <script src="/index/index.js" defer></script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>
<body>
    <%- include('./partials/cookie_consent.ejs') %> 
    <div class="intro" id="intro">
        <div class="diamonds">
            <img src="/general/diamond.svg" alt="" class="diamond1">
            <img src="/general/diamond_2.svg" alt="" class="diamond2">
        </div>
        <div class="mobile-top">
            <div class="top-burger" id="top-burger">
                <img src="/general/burger.svg" alt="">
            </div>
            <div class="top-branding">
                <div class="branding-name">
                    Item
                </div>
                <div class="branding-logo">
                    <img src="/general/mobile_logo.png" alt="">
                </div>
            </div>
        </div>
        <% if (status == 'in'){ %>
            <%- include('./partials/nav_profile.ejs')  %>     
        <% } else { %>
            <%- include('./partials/nav.ejs')  %>     
        <% } %>   
        <%- include('./partials/sidebar.ejs')  %>   
        <%- include('./partials/logo.ejs')  %>   
        <h1>Item</h1>
        <div class="scroll desktop" style="left:40vw" onclick="window.scroll({
            top: (window.innerHeight)+240,
            behavior: 'smooth'
        })">check the item</div>
        <div class="mobile-intro">
            <div class="scroll-mobile mobile-classic" onclick="
            let height = document.getElementById('intro').clientHeight;
            document.body.scrollTo({
            top: (height+240),
            behavior: 'smooth'
        })">
                check the item
            </div>
        </div>
    </div>
    </div>
    <%- include('./partials/stripes.ejs')  %>
    <div class="content" id="content">
        <%- include('./partials/item-message-to-seller.ejs') %>
        <div class="item">
            <div class="item-history">
                item was offered on <%= item.item_selling_time.split(',')[0] %>
            </div>
            <div class="item-video">
                <video src="<%=item.video_link%>" class="item-video-video" alt="video preview" autoplay loop muted preload></video>
                <div class="wholescreen-choice" onclick="openWholescreen()">
                    wholescreen
                </div>
            </div>
            <div class="wholescreen-choice-mobile" onclick="openWholescreen()">
                wholescreen
            </div>
            <div class="item-video-wholescreen" id="item-video-wholescreen">
                <video src="<%=item.video_link%>" class="item-video-video" alt="video preview" autoplay loop muted preload></video>
                <div class="close" onclick="closeWholescreen()">
                    back
                </div>
            </div>
            <div class="item-info">
                <div class="info-item-name">
                    itemitem itemite mitemit emi temitemi temitem
                </div>
                <div class="info-item-seller">
                    <div class="seller-photo">
                        <img src="/general/nopic.svg" alt="">
                    </div>
                    <div class="seller-name" id="seller-name">
                        <%=item.item_seller%>
                    </div>
                    <div class="seller-location">
                        <%=item.item_location%>
                    </div>
                </div>
                <div class="info-item-seller-mobile">
                    <div class="seller-photo">
                        <img src="/general/nopic.svg" alt="">
                    </div>
                    <div class="seller-info">
                        <div class="seller-name" id="seller-name">
                            <%=item.item_seller%>
                        </div>
                        <div class="seller-location">
                            <%=item.item_location%>
                        </div>
                    </div>
                </div>
                <div class="item-info-desc">
                    <%=item.item_desc%><%=item.item_desc%><%=item.item_desc%><%=item.item_desc%>
                    <%=item.item_desc%><%=item.item_desc%><%=item.item_desc%><%=item.item_desc%>
                </div>
                <div class="item-info-price">
                    <%=item.item_price%>
                    <img src="/general/sigecoin_icon_currency.svg" alt="" class="item-info-price-currency">
                </div>

            </div>
            <div class="item-options">
                <div class="option-buy">
                    buy for 
                    <%=item.item_price%>
                    <img src="/general/sigecoin_icon_currency.svg" alt="" class="item-info-price-currency">
                </div>
                <div class="option-contact" onclick="openMessage()">
                    message seller
                </div>
            </div>
        </div>
        <script src="/item/item.js"></script>
        <%- include('./partials/footer-mobile.ejs') %>
    </div>
</body>
<script>
    let viewHeight = $(window).height();
    let viewWidth = $(window).width();
    document.getElementById('intro').style.minHeight = viewHeight+'px';
    document.getElementById('intro').style.maxHeight = viewHeight+'px';
    let viewport = document.querySelector('meta[name=viewport]');
    viewport.setAttribute('content', 'height=' + viewHeight + 'px, width=' + viewWidth + 'px, initial-scale = 1.0');
</script>
<%- include('./partials/footer.ejs') %>
</html>